<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="icono3.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Autores del proyecto</h1>
    <img id="fotoAutores" src="/images/mi_foto.jpg">
    <p>Francisco Javier Toral Zamorano y Elena Lourés Piñeiro</p>

    <footer>
		  <p><a href="/">Pulse aquí para volver a la página principal</a></p>
	  </footer>
  </body>
</html>

