<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="icono3.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Sea vuestra merced bienvenida a <%= title %></h1>
    <p>Aquí podréis crear vuestros propios divertimentos</p>
  </body>
</html>
